.header-menu {
    position: fixed;
    padding: 30px 30px 0px;
    box-sizing: border-box;
    width: 100%;
    z-index: 99;
}

.header-menu-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.header-menu-logo a {
    font-size: 40px;
    font-weight: 800;
    font-family: 'Roboto Slab', serif;
    font-weight: bolder;
}

.header-menu-nav li {
    display: inline;
    position: relative;
    font-size: 20px;
    font-weight: 600;
    margin-right: 65px;
    top: 25px;
}

li .border-bottom {
    position: absolute;
    width: 145px;
    height: 6px;
    background-color: white;
    left: 0px;
    display: none;
}

a:hover~.border-bottom {
    animation-name: background-color;
    animation-duration: 0.2s;
    display: block;
}

@keyframes background-color {
    0% {
        background-color: white;
        width: 65px;
    }

    100% {
        background-color: white;
        width: 130px;
    }
}

a:visited {
    color: white;
}